/* This section applies the box-sizing property to all elements and also sets the padding and margin to 0*/
* {         
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/* This sets the background color for the body element */
body {
    background-color: #d9dcd6;
}
/* This section styles the header section of the page. The padding adds space around the content */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* This section targets the h1 tag in the header and adjusts its display to be inline-block. The font-size property increases the size of the text. */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* This section targets the "seo" class inside the h1 tag and sets its color property to a different color than the rest of the text. */
.header h1 .seo {
    color: #d9dcd6;
}
/* This section styles the div element inside the header. The padding-top and margin-right properties add some spacing around the content. The float property pushes the div to the right side of the page. */
.header div {
    margin-right: 20px;
    padding-top: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';/* Added the '' in calibri */
    font-size: 20px;
}
/* This section targets the ul and li tags inside the div element in the header. The list-style-type property sets the bullet points to none */
.header div ul {
    list-style-type: none;
}
/* The display property sets the list items to display inline-block. The margin-left property adds some spacing between the list items. */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* This section targets all anchor tags and sets the color property to white and the text-decoration property to none. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This section styles the hero section of the page: giving the display properties of the principal image. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content div{       /* Merged: .search-engine-optimization, .online-reputation-management, .social-media-marketing */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;/* Added the '' in calibri */
    background-color: #0072bb;
    color: #ffffff;
}

.content img {      /* Merged: .search-engine-optimization img, .online-reputation-management img, .social-media-marketing */
    max-height: 200px;
}

/* These classes define floating behavior for elements. The .float-left and .float-right class floats the pics to the left and right with a margin-right of 25 pixels. */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}

.content h2{        /* Merged: .search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2  */
    margin-bottom: 20px;
    font-size: 36px;
}
/* This section targets all p tags and sets the font-size property to 16px. */
p {
    font-size: 16px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';/* Added the '' in calibri */
    background-color: #2589bd;
}

.benefits div{      /* Merged: .benefit-lead, .benefit-brand, .benefit-cost */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3{       /* Merged: .benefit-lead h3, .benefit-brand h3, .benefit-cost h3 */
    margin-bottom: 10px;
    text-align: center;
}

.benefits img{      /* Merged: .benefit-lead img, .benefit-brand img,.benefit-cost img  */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}